<a href="https://colab.research.google.com/github/raj-vijay/py/blob/master/PCAP_Preparation_Notebook_I.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Q1. The \n digraph forces the print() function to:

1. output exactly two characters: \ and n
2. duplicate the character next to the digraph
3. stop its execution
4. **break the output line**

In [0]:
print("Output I \nOutput II")

Output I
Output II

Q2. The meaning of the keyword parameter is determined by:
1. its position within the argument list
2. its value
3. its connection with existing variables
4. **the argument’s name specified along with its value**

In [0]:
# Simple function to calculate the roots of a quadratic equation a(x**2) + bx + c = 0
from math import sqrt

def quadratic(a, b, c):
  x = -b + sqrt((b**2 - 4*a*c))
  y = -b - sqrt((b**2 - 4*a*c))
  return x, y

In [0]:
# Positional parameters in Python. The function parameters are passed by virtue of their position during the call.
x, y = quadratic(1, 10, 25)
print(x, y)

-10.0 -10.0

In [0]:
# Keyword parameters in Python. The function parameters are passed by specifying the keywords during the call.
x, y = quadratic(b = 10, a = 1, c = 25)
print(x, y)

-10.0 -10.0

Q3. The value twenty point twelve times ten raised to the power of eight should be written as:
1. 20E12.8
2. **20.12E8**
3. 20.12*10^8
4. 20.12E8.0

In [0]:
#Uncomment the various lines to test the outputs

# print(220E12.8)
# Output E12.8 SyntaxError: invalid syntax

print(20.12E8)
# Correct Answer

# print(20.12*10^8)
# Output TypeError: unsupported operand type(s) for ^: 'float' and 'int'

# print(20.12E8.0)
# Output E8.0 SyntaxError: invalid syntax

2012000000.0

Q4. The 0o prefix means that the number after it is denoted as:
1. decimal
2. binary
3. **octal**
4. hexadecimal

In [0]:
print(0o10, 0o11, 0o12)

8 9 10

Q5. The ** operator:
1. **performs exponentiation**
2. performs duplicated multiplication
3. does not exist
4. performs floating-point multiplication

In [0]:
print(2**3)

8

Q6. The result of the following division: 1 / 1
1. is equal to 1
2. cannot be evaluated
3. cannot be predicted
4. **is equal to 1.0**

In [0]:
print(1/1)

1.0

Q7. Only one of the following statements is false – which one?
1. multiplication precedes addition
2. **the result of the / operator is always an integer value**
3. the right argument of the % operator cannot be zero
4. the ** operator uses right sided binding

In [0]:
# Multiplication precedes addition
if (2*3+2) == 8:
  print("Multiplication precedes addition")
else:
  print("Addition precedes multiplication")

# The result of the / operator is always an integer value
a = type(1/1)
if a == 'int':
  print("The result of the / operator is always an integer value")
else:
  print(a)

# The right argument of the % operator cannot be zero
try:
  print(5%0, "The right argument of the % operator can be zero.")
except:
  print("The right argument of the % operator cannot be zero.")

# The ** operator uses right sided binding
print(10**-2, "")

Multiplication precedes addition
<class 'float'>
The right argument of the % operator cannot be zero.
0.01

**Right-sided binding of the Power Operator (**)**

In an unparenthesized sequence of power and unary operators, the operators are evaluated from right to left (this does not constrain the evaluation order for the operands): -1**2 results in -1.

**Operator Precedence**

The following table summarizes the operator precedence in Python, from lowest precedence (least binding) to highest precedence (most binding). 

Operators in the same box have the same precedence. 

Unless the syntax is explicitly given, operators are binary. Operators in the same box group left to right (except for exponentiation, which groups from right to left).


![alt text](https://raw.githubusercontent.com/raj-vijay/py/master/images/Operator%20precedence.jpg)


5 - The % operator is also used for string formatting; the same precedence applies.

6 - The power operator( ** ) binds less tightly than an arithmetic or bitwise unary operator on its right, that is, 2**-1 is 0.5.

Q8. Left‑sided binding determines that the result of the following expression 1 // 2 * 3 is equal to:
1. 0.0
2. 4.5
3. **0**
4. 0.16666666666666666

In [0]:
print("Left binding :", 1 // 2 * 3)
print("Right binding: ", 1 // 0.666, " - > Incorrect")

Left binding : 0
Right binding:  1.0  - > Incorrect

Q9. One of the following variables’ names is illegal – which one?
1. true
2. tRUE
3. **True**
4. TRUE

In [0]:
true = 1
tRUE = 1
# True = 1
# Error : SyntaxError: can't assign to keyword 
TRUE = 1
print(true, tRUE, True, TRUE)

1 1 True 1

Q10. The print() function can output values of:
1. any number of arguments (excluding zero)
2. just one argument
3. **any number of arguments (including zero)**
4. not more than five arguments

In [0]:
print(0, 1, 2, 3, 4, 5, 6)

0 1 2 3 4 5 6

Q11. What is the output of the following snippet?

```
x=1
y=2
z=x
x=y
y=z
print(x,y)
```
1. 1 2
2. **2 1**
3. 1 1
4. 2 2

In [0]:
x=1
y=2
z=x
x=y
y=z
print(x,y)

2 1

Q12. What is the output of the following snippet if the user enters two lines containing 2 and 4 respectively?
```
x=input()
y=input()
print(x+y)
```
1. 6
2. **24**
3. 4
4. 2

In [0]:
x=input()
y=input()
print(x+y)

2
4
24

Q13. What is the output of the following snippet if the user enters two lines containing 2 and 4 respectively?
```
x=int(input())
y=int(input())
x=x//y
y=y//x
print(y)
```
1. 2.0
2. **the code will cause a runtime error**
3. 4.0
4. 8.0

In [0]:
try:
  x=int(input())
  y=int(input())
  x=x//y
  y=y//x
  print(y)
except:
  print("Code throws a runtime error.")

2
4
Code throws a runtime error.

Q14. What is the output of the following piece of code if the user enters two lines containing 2 and 4 respectively?
```
x=int(input())
y=int(input())
x=x/y
y=y/x
print(y)
```
1. the code will cause a runtime error
2. **8.0**
3. 4.0
4. 2.0

In [0]:
try:
  x=int(input())
  y=int(input())
  x=x/y
  y=y/x
  print(y)
except:
  print("The code throws a runtime error.")

2
4
8.0

Q15. What is the output of the following snippet if the user enters two lines containing 11 and 4 respectively?
```
x=int(input())
y=int(input())
x = x % y
x = x % y
y = y % x
print(y)
```
1. 3
2. 2
3. **1**
4. 4

In [0]:
x=int(input())
y=int(input())
x = x % y
x = x % y
y = y % x
print(y)

11
4
1

Q16. What is the output of the following snippet if the user enters two lines containing 3 and 6 respectively?
```
x=input()
y=int(input())
print(x*y)
```
1. 36
2. 18
3. **333333**
4. 666

In [0]:
x=input()
y=int(input())
print(x*y)

3
6
333333

Q17. What is the output of the following snippet?
```
z = y = x = 1
print(x,y,z,sep=’*’)
```
1. 1 1 1
2. x y z
3. **1 * 1 * 1**
4. x*y*z

In [0]:
z = y = x = 1
print(x,y,z,sep='*')

1*1*1

Q18. What is the output of the following snippet?
```
x = 2 + 3 * 5.
print(X)
```
1. **the snippet will cause an execution error**
2. 17
3. 17.0
4. 25.0

In [0]:
x = 2 + 3 * 5.
print(X)

NameError: ignored

Q19. What is the output of the following snippet?
```
x = 1 / 2 + 3 // 3 + 4 ** 2
print(x)
```
1. 17
2. **17.5**
3. 8.5
4. 8

In [0]:
x = 1 / 2 + 3 // 3 + 4 ** 2
print(x)

17.5

Q20. What is the output of the following snippet if the user enters two lines containing 2 and 4 respectively?
```
x=int(input())
y=int(input())
print(x+y)
```
1. 4
2. 2
3. 24
4. **6**

In [0]:
x=int(input())
y=int(input())
print(x+y)

2
4
6