<a href="https://colab.research.google.com/github/raj-vijay/py/blob/master/PCAP_Preparation_Summary_SI_ipynb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Q1. What is the output of the following snippet?

l1 = [1,2]

for v in range(2):

   l1.insert(-1,l1[v])

print(l1)

1. [1, 2, 2, 2]
2. **[1, 1, 1, 2]**
3. [1, 2, 1, 2]
4. [1, 1, 2, 2]

In [1]:
l1 = [1,2]
for v in range(2):
  l1.insert(-1,l1[v])
print(l1)

[1, 1, 1, 2]

Q2. The meaning of a positional argument is determined by:

1. the argument’s name specified along with its value
2. its connection with existing variables
3. its value
4. **its position within the argument list**

Q3. Which of the following sentences are true? Choose all that apply.

nums = [1,2,3]

vals = nums

1. vals is longer than nums
2. nums is longer than vals
3. **nums and vals are different names of the same list**
4. nums and vals are different lists

In [0]:
nums = [1,2,3]
vals = nums

In [5]:
len(nums)

3

In [6]:
len(vals)

3

In [0]:
# Append to test is both lists are the same
nums.append(4)

In [8]:
print(nums, vals)

[1, 2, 3, 4] [1, 2, 3, 4]

Q4. An operator able to check whether two values are not equal is coded as:

1. not ==
2. <>
3. **!=**
4. =/=

In [9]:
if 1 != 2:
  print(" 1 is not equal to 2 and != is the not equal operator")

 1 is not equal to 2 and != is the not equal operator

Q5. The following snippet:

def func1(a):

  return None

def func2(a):

  return func1(a)*func1(a)

print(func2(2))

1. will output 2
2. **will cause a runtime error**
3. will output 4
4. will output 16

In [10]:
# Returns TypeError: unsupported operand type(s) for *: 'NoneType' and 'NoneType'
def func1(a):
  return None
def func2(a):
  return func1(a)*func1(a)

print(func2(2))

TypeError: ignored

Q6. The result of the following division:

1 // 2

1. cannot be predicted
2. is equal to 0.5
3. is equal to 0.0
4. **is equal to 0**

In [11]:
print(1//2)

0

Q7. The following snippet:
   
def func(a,b):
  
  return b ** a

print(func(b=2,2))

1. will output 4
2. **is erroneous**
3. will return None
4. will output 2

In [12]:
# The code returns SyntaxError: positional argument follows keyword argument

def func(a,b):
  return b ** a

print(func(b=2,2))

SyntaxError: ignored

Q8. What value will be assigned to the x variable?

z = 0

y = 10

x = y < z and z > y or y > z and z < y

1. 0
2. False
3. 1
4. **True**

In [13]:
z = 0
y = 10
x = y < z and z > y or y > z and z < y

print(x)

True

Q9. One of the following variables’ names is illegal – which one?

1. in_
2. IN
3. **in**
4. In

In [14]:
# in is a keyword and returns SyntaxError: invalid syntax 
in = 2

SyntaxError: ignored

Q10. What is the output of the following snippet?
    
list =  [x*x for x in range(5)]

def fun(L):

  del L[L[2]]

  return L
    
print(fun(list))

1. [0, 1, 4, 16]
2. [1, 4, 9, 16]
3. [0, 1, 4, 16]
4. **[0, 1, 4, 9]**

In [15]:
list =  [x*x for x in range(5)]
def fun(L):
  del L[L[2]]
  return L
    
print(fun(list))

[0, 1, 4, 9]