<a href="https://colab.research.google.com/github/raj-vijay/py/blob/master/PCAP_Preparation_Summary_Final.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Q1. The meaning of the keyword argument is determined by:
1. its position within the argument list
2. its value
3. its connection with existing variables
4. **the argument’s name specified along with its value**

Q2. Which of the following sentences is true? 
```
str1 = ‘string’
str2 = str1[:]
```
1. **str1 and str2 are different (but equal) strings**
2. str2 is longer than str1
3. “>str1 and str2 are different names of the same string
4. str1 is longer than str2

Q3. An operator able to check whether two values are equal, is coded as:
1. =
2. **==**
3. ===
4. is

Q4. The following snippet:
```
def f(par2,par1):
  return par2 + par1
print(f(par2=1,2))
```
1. will output 2
2. will output 3
3. will output 1
4. **is erroneous**

In [13]:
# Returns SyntaxError: positional argument follows keyword argument
def f(par2,par1):
  return par2 + par1
print(f(par2=1,2))

SyntaxError: ignored

Q5. What value will be assigned to the x variable?
```
z = 2
y = 1
x = y < z or z > y and y > z or z < y
```
1. 0
2. **True**
3. 1
4. False

In [16]:
z = 2
y = 1
x = y < z or z > y and y > z or z < y
print(x)

True

Q6. What will be the output of the following snippet?
```
str = ‘abcdef’
def fun(s):
  del s[2]
  return s
print(fun(str))
```
1. abcef
2. **the program will cause an error**
3. abdef
4. acdef

In [18]:
# Returns TypeError: 'str' object doesn't support item deletion
str = 'abcdef'
def fun(s):
  del s[2]
  return s
print(fun(str))

TypeError: ignored

Q7. What will be the output of the following piece of code?
```
x, y, z = 3, 2, 1
z, y, x = x, y, z
print(x,y,z)
```
1. 2 1 3
2. **1 2 3**
3. 1 2 2
4. 3 2 1

In [19]:
x, y, z = 3, 2, 1
z, y, x = x, y, z
print(x,y,z)

1 2 3

Q8. What will be the output of the following snippet?
```
a = True
b = False
a = a or b
b = a and b
a = a or b
print(a,b)
```
1. **True False**
2. True True
3. False False
4. False True

In [20]:
a = True
b = False
a = a or b
b = a and b
a = a or b
print(a,b)

True False

Q9. What will be the output of the following snippet?
```
def fun(x):
  return 1 if x % 2 != 0 else 2
print(fun(fun(1)))
```
1. 2
2. the code will cause a runtime error
3. **1**
4. None

In [21]:
def fun(x):
  return 1 if x % 2 != 0 else 2
print(fun(fun(1)))

1

Q10. What will be the output of the following line?
```
print(len((1,)))
```
1. 0
2. the code is erroneous
3. 2
4. **1**

In [22]:
print(len((1,)))

1

Q11. What will be the output of the following piece of code?
```
d = { 1:0, 2:1, 3:2, 0:1 }
x = 0
for y in range(len(d)):
  x = d[x]
print(x)
```
1. the code will cause a runtime error
2. 2
3. **0**
4. 1

In [27]:
d = { 1:0, 2:1, 3:2, 0:1 }
x = 0
for y in range(len(d)):
  x = d[x]
print(x)

0

Q12. What will be the output of the following piece of code:
```
y=input()
x=input()
print(x+y)
```
if the user enters two lines containing 1 and 2 respectively?
1. **21**
2. 12
3. 2
4. 3

In [28]:
y=input()
x=input()
print(x+y)

1
2
21

Q13. What will be the output of the following piece of code?
```
print(“a”,”b”,”c”,sep=”‘”)
```
1. **a’b’c**
2. abc
3. a b c
4. the code is erroneous

In [30]:
print('a','b','c',sep="'")

a'b'c

Q14. What will be the output of the following piece of code?
```
v = 1 + 1 // 2 + 1 / 2 + 2
print(v)
```
1. 4.0
2. **3.5**
3. 3
4. 4

In [31]:
v = 1 + 1 // 2 + 1 / 2 + 2
print(v)

3.5

Q15. What will be the output of the following code?
```
t = (1,)
t = t[0] + t[0]
print(t)
```
1. (1,)
2. 1
3. (1, 1)
4. **2**

In [32]:
t = (1,)
t = t[0] + t[0]
print(t)

2

Q16. What will be the output of the following piece of code?
```
x = 16
while x > 0:
  print(‘*’,end=”)
  x //= 2
```
1. '* * * * *' (answer)
2. '* * *'
3. *
4. the code will enter an infinite loop

In [34]:
x = 16
while x > 0:
  print('*',end='')
  x //= 2

*****

Q17. What will be the output of the following snippet?
```
d = { ‘one’:1, ‘three’:3, ‘two’:2 }
for k in sorted(d.values()):
  print(k,end=’ ‘)
```
1. **1 2 3**
2. 3 2 1
3. 2 3 1
4. 3 2 1

In [36]:
d = { 'one':1, 'three':3, 'two':2 }
for k in sorted(d.values()):
  print(k,end=' ')

1 2 3

Q18. What will be the output of the following snippet?
```
print(len([i for i in range(0,-2)]))
```
1. **0**
2. 2
3. 3
4. 1

In [37]:
print(len([i for i in range(0,-2)]))

0