<a href="https://colab.research.google.com/github/raj-vijay/py/blob/master/PCAP_Preparation_Notebook_III.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Q1. Which of the following lines properly starts a parameterless function definition?
1. function fun():
2. def fun:
3. fun function():
4. def fun():

In [0]:
def fun():
  return True
a = fun()
print(a)

True

Q2. A function defined in the following way:
```
def function(x=0):
  return x
```
1. **may be invoked without any argument, or with just one**
2. must be invoked without arguments
3. must be invoked with exactly one argument
4. may be invoked with any number of arguments (including zero)

In [0]:
def function(x=0):
  return x

# Invoked with argument
a = function(5)
print(a)
# Invoked without argument
b = function()
print(b)

5
0

Q3. A built‑in function is a function which:
1. has to be imported before use
2. is hidden from programmers
3. has been placed within your code by another programmer
4. **comes with Python, and is an integral part of Python**

In [0]:
# Built-in function comes off the shelf with python
print("This is a built in function.")

This is a built in function.

Q4. The fact that tuples belong to sequence types means:
1. they can be modified using the del instruction
2. **they can be indexed and sliced like lists**
3. they are actually lists
4. they can be extended using the .append() method

In [0]:
tup = (1, 2, 3)
lst= [1, 2, 3]
print("Tuple: ", tup)
print("List: ", lst)

Tuple:  (1, 2, 3)
List:  [1, 2, 3]

In [0]:
# Returns an error - TypeError: 'tuple' object doesn't support item deletion
del tup[0]
print(tup)

TypeError: ignored

In [0]:
del lst[0]
print(lst)

[2, 3]

In [0]:
# Below section works and returns (2, 3) 
slice = tup[1:]
print(slice)

(2, 3)

In [0]:
type(tup)

tuple

In [0]:
type(lst)

list

In [0]:
# Returns an error - AttributeError: 'tuple' object has no attribute 'append'
append = tup.append(3)
print(append)

AttributeError: ignored

Q5. What is the output of the following snippet?
```
def f(x):
  if x == 0:
    return 0
  return x + f(x – 1)
print(f(3))
```
1. the code is erroneous
2. 3
3. 1
4. **6**

In [0]:
def f(x):
  if x == 0:
    return 0
  return x + f(x-1)

print(f(3))

6

Q6. What is the output of the following snippet?
```
def fun(x):
  x += 1
return x
x = 2
x = fun(x+1)
print(x)
```
1. the code is erroneous
2. **4**
3. 5
4. 3

In [0]:
def fun(x):
  x += 1
  return x
x = 2 
x = fun(x+1) 
print(x)

4

Q7. What code would you insert into the commented line to obtain the output that reads:
a
b
c

Code:
```
dct = { }
lst = [‘a’,’b’,’c’,’d’]
for i in range(len(lst) – 1):
  dct[lst[i]] = ( lst[i], )
  for i in sorted(dct.keys()):
    k = dct[i]
    # insert your code
```
1. **print(k[0])**
2. print(k)
3. print(k[“0”])
4. print(k[‘0’])

In [0]:
dct = { }
lst = ['a','b', 'c','d']
for i in range(len(lst)-1):
  dct[lst[i]] = (lst[i], )
  for i in sorted(dct.keys()):
    k = dct[i]
  # insert your code
  print(k[0])

a
b
c

Q8. The following snippet:
```
def func(a,b):
  return a ** a
print(func(2))
```
1. will output 2
2. **is erroneous**
3. will return None
4. will output 4

In [0]:
# The function will return an error. TypeError: func() missing 1 required positional argument: 'b'
def func(a,b):
  return a ** a

print(func(2))

TypeError: ignored

Q9. The following snippet:
```
def func1(a):
  return a ** a
def func2(a):
  return func1(a)*func1(a)
print(func2(2))
```
1. is erroneous
2. will output 2
3. will output 4
4. **will output 16**

In [0]:
def func1(a):
  return a ** a
def func2(a): 
  return func1(a)*func1(a)

print(func2(2))

16

Q10. Which of the following lines properly starts a function using two parameters, both with zeroed default values?

1. def fun(a=b=0):
2. fun fun(a,b=0):
3. fun fun(a=0,b):
4. **def fun(a=0,b=0)**:

In [0]:
def fun(a=0,b=0):
  return a, b

x, y = fun()
print(x, y)

0 0

Q11. Which of the following statements is false?
1. The None value cannot be used as an argument of arithmetic operators
2. The None value can be assigned to variables
3. **The None value may not be used outside functions**
4. The None value can be compared with variables

In [0]:
# The below returns TypeError: unsupported operand type(s) for +: 'int' and 'NoneType'
a = 10 + None
print(a)

TypeError: ignored

In [0]:
a = None
print(None)

None

In [0]:
# Using None value inside and outside functions
def fun():
  return None

a = fun()
b = None

print(a, b)

None None

In [0]:
# None used for comparing variables
a = None
if a == None:
  print(True)

True

Q12. What is the output of the following snippet?
```
def fun(x):
  if x % 2 == 0:
    return 1
  else:
    return
print(fun(fun(2)) + 1)
```
1. **the code will cause a runtime error**
2. 1
3. None
4. 2

In [0]:
def fun(x):
  if x % 2 == 0:
    return 1
  else:
    return

print(fun(fun(2)) + 1)

TypeError: ignored

Q13. What is the output of the following snippet?
```
def fun(x):
  global y
  y = x * x
  return y
fun(2)
print(y)
```
1. 2
2. **4**
3. None
4. the code will cause a runtime error

In [0]:
def fun(x):
  global y
  y = x * x
  return y

fun(2)
print(y)

4

Q14. What is the output of the following snippet?
```
def any():
  print(var + 1,end=”)
  var = 1
any()
print(var)
```
1. 22
2. **21**
3. 11
4. 12

In [0]:
def any():
  print(var + 1,end='')
var = 1
any()  
print(var)

21

Q15. Assuming that tuple is a correctly created tuple, the fact that tuples are immutable means that the following instruction:
```
tuple[1] = tuple[1] + tuple[0]
```
1. **is illegal**
2. is fully correct
3. can be executed if and only if the tuple contains at least two elements
4. may be illegal if the tuple contains strings

In [0]:
# TypeError: 'tuple' object does not support item assignment
tuple = (1, 2, 3)
tuple[1] = tuple[1] + tuple[0]

TypeError: ignored

Q16. What is the output of the following snippet?
```
list = [‘Mary’, ‘had’, ‘a’, ‘little’, ‘lamb’]
def list(L):
del L[3]
L[3] = ‘ram’
print(list(list))
```
1. [‘Mary’, ‘had’, ‘a’, ‘ram’]
2. [‘Mary’, ‘had’, ‘a’, ‘little’, ‘lamb’]
3. **the snippet is erroneous**
4. [‘Mary’, ‘had’, ‘a’, ‘lamb’]

In [0]:
list = ['Mary', 'had', 'a', 'little', 'lamb']
def list(L):
  del L[3]
  L[3] = 'ram'
print(list(list))

TypeError: ignored

Q17. What is the output of the following snippet?
```
def fun(x,y,z):
  return x+2*y+3*z
print(fun(0,z=1,y=3))
```
1. 3
2. the snippet is erroneous
3. 0
4. **9**

In [0]:
def fun(x,y,z):
  return x+2*y+3*z
print(fun(0,z=1,y=3))

9

Q18. What is the output of the following snippet?
```
def fun(inp=2,out=3):
  return inp * out
  print(fun(out=2))
```
1. 6
2. **4**
3. 2
4. the snippet is erroneous

In [0]:
def fun(inp=2,out=3):
  return inp * out
print(fun(out=2))

4

Q19. What is the output of the following snippet?
```
dct = { ‘one’:’two’, ‘three’:’one’, ‘two’:’three’ }
v = dct[‘one’]
for k in range(len(dct)):
v = dct[v]
print(v)
```
1. **two**
2. three
3. (‘one’, ‘two’, ‘three’)
4. one

In [0]:
dct = {'one':'two', 'three':'one', 'two':'three'}
v = dct['one']

for k in range(len(dct)):
  v = dct[v]
print(v)

two

Q20. What is the output of the following snippet?
```
  tup = (1, 2, 4, 8)
  tup = tup[1:-1]
  tup = tup[0]
  print(tup)
```
1. the snippet is erroneous
2. (2)
3. (2,)
4. **2**

In [0]:
tup = (1, 2, 4, 8)
tup = tup[1:-1]
tup = tup[0]
print(tup)

2